<header>
  <nav class="navbar">
    <div class="nav-wrapper">
      <ul class="nav-list">
        <!-- Add more list items with appropriate links -->
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <!-- ... -->
        <li><a href="#">Link 20</a></li>
      </ul>
    </div>
  </nav>
  <button class="show-more" onclick="toggleShowMore()">+</button>
  <div class="more-items" id="more-items">
    <ul>
      <!-- Add more list items with appropriate links -->
      <li><a href="#">Link 21</a></li>
      <li><a href="#">Link 22</a></li>
      <!-- ... -->
    </ul>
  </div>
</header>
