<header>
  <nav>
    <div class="logo">
      <a href="#">로고</a>
    </div>
    <ul class="nav-menu desktop">
      <li>
        <a href="#">기능 보기</a>
        <ul class="submenu">
          <li><a href="#">기능 1</a></li>
          <li><a href="#">기능 2</a></li>
          <li><a href="#">기능 3</a></li>
        </ul>
      </li>
      <li>
        <a href="#">블로그</a>
        <ul class="submenu">
          <li><a href="#">블로그 1</a></li>
          <li><a href="#">블로그 2</a></li>
          <li><a href="#">블로그 3</a></li>
        </ul>
      </li>
    </ul>
    <div class="hamburger-menu mobile">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-menu mobile-menu">
      <li>
        <a href="#">기능 보기</a>
        <ul class="submenu">
          <li><a href="#">기능 1</a></li>
          <li><a href="#">기능 2</a></li>
          <li><a href="#">기능 3</a></li>
        </ul>
      </li>
      <li>
        <a href="#">블로그</a>
        <ul class="submenu">
          <li><a href="#">블로그 1</a></li>
          <li><a href="#">블로그 2</a></li>
          <li><a href="#">블로그 3</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
