.interner-link-container {
  width: 100vw;
  line-height: 1.6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.interner-link-container .box {
  flex: 1 1 300px;
  max-width: 600px;
  background-color: #f5f5f5;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interner-link-container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.interner-link-container .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.interner-link-container .link-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.interner-link-container .link-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.interner-link-container .link-name {
  font-size: 1rem;
  font-weight: bold;
}

.interner-link-container .link {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.interner-link-container .link:hover {
  background-color: #333;
  color: #fff;
}
