body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#container {
  text-align: center;
}

h1 {
  color: #333;
}

#form {
  margin-top: 20px;
}

#teamNumber {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0 20px;
  font-size: 16px;
}

#lotteryButton {
  margin-left: 10px;
  height: 40px;
  width: 100px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

#ballContainer {
  perspective: 800px;
  height: 300px;
  position: relative;
}

.ball {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
