html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

header {
  background-color: #4caf50;
  padding: 20px;
  color: white;
}

main {
  flex-grow: 1;
}

input {
  margin: 10px 0;
  max-width: 100%;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  input,
  button {
    width: 100%;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
