body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3a3a3a;
  padding: 1rem;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.city-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  text-align: center;
  flex-basis: 29.33%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-card h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.city-card p {
  font-size: 2rem;
  margin: 0;
}

.main-card {
  flex: 1;
  flex-basis: 100%;
  background-color: #3a3a3a;
  color: white;
  height: 400px;
}

/* 600px 이하에서 적용될 스타일 */
@media (max-width: 968px) {
  header h1 {
    font-size: 1.5rem;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .city-card {
    flex-basis: 100%;
    height: 150px;
  }

  .city-card h2 {
    font-size: 2.5rem;
  }

  .city-card p {
    font-size: 1.5rem;
  }
}
