* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
  margin: 0;
}

main {
  padding: 20px;
}

#addTaskForm {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#taskInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  flex-basis: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

#todoList {
  list-style-type: none;
  padding: 0;
}

#todoList li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

#todoList li span {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.edit-btn,
.delete-btn,
.done-btn {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  flex-basis: 30%;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}

.delete-btn {
  background-color: red;
}

.delete-btn:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
}

.edit-btn:hover,
.done-btn:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  #addTaskForm {
    flex-direction: column;
  }

  #taskInput {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
